<!DOCTYPE html>
<html>
  <head>
    <title>Marvels</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "layouts/nav_bar" %>

    <div class="container">
    <div class="row">
      <div class="col-md-8" style="background-color:blue;">Left Content</div>
      <div class="col-md-4" style="background-color:pink;">Right Content</div>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= render "layouts/alphabetic_pagination" %>

        <%= yield %>
     </div>
    </div>
  </body>
</html>
